{% extends '_base.html' %}

{% block content %}

<h2 >{{ user }}'s Followers</h2>

<div class="row marketing">
    {% for user in users %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="" alt="" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="{{ url_for('users.user_profile') }}?user={{ user.name }}"> {{ user.name }}</a>
                {% if user.is_following(session.user_id, user.id) %}
                <a class="btn btn-info btn-xs" href="{{ url_for('tweets.unfollow_user', user_id=user.id )}}">Unfollow</a>
                {%endif%}
                {% if user.is_following(user.id, session.user_id) %}
                <a class="btn btn-info btn-xs" href="#">Follows You</a>
                {%endif%}
                {% if user.name == session.name %}
                <a class="btn btn-info btn-xs" href="#">It's You!</a>
                {% elif not user.is_following(session.user_id, user.id) %}
                <a class="btn btn-info btn-xs" href="{{ url_for('tweets.follow_user', user_id=user.id )}}">Follow</a></h4>
                {% endif %}
            </h4>
        </div>
    </div>
    {% endfor %}

<h2 >{{ user }}'s 1Grams</h2>

    {% for tweet in tweets %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="" alt="" />
                </a>
            </div>
            <div class="media-body">
                {% if tweet.poster.name == session.name %}
                <h4 class="media-heading">{{ tweet.poster.name }}
                    <small>{{ tweet.delta_time(tweet.posted) }} <a class="btn btn-default btn-xs" href="{{ url_for('tweets.delete_tweet', tweet_id=tweet.tweet_id )}}">Delete</a></small></h4>
                {{ tweet.tweet }}
                {% else %}
                {{ tweet.tweet }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}
